.navbar {
  background-color: white;
  color: inherit;
  border-bottom: 2px solid #5f3232; }

.img {
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

.prim {
  background-color: #A25555;
  color: white;
  border-left: 2px solid #5f3232; }

.textlink, .textlink:active, .textlink:visited {
  color: #cccccc !important;
  background-color: inherit;
  text-decoration: underline !important; }

.textlink:hover {
  color: #e6e6e6 !important;
  background-color: inherit; }
